html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 70px; /* equal to footer height */
}

/******** Navbar ********/
.navbar-default {
    background-color: #F5F5F5;
    border: none;
}

.navbar-default .navbar-brand {
    color: #2c3e50;
    font-size: 3em;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #2c3e50;
}

.navbar-default .navbar-brand span {
    color: #33cc99;
}

.navbar-default .navbar-nav > li > a:link, .navbar-default .navbar-nav > li > a:visited {
    color: #2c3e50;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #33cc99;
}
table {
    width: 100%;
    color: #2c3e50;
}

th, td {
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

tr:nth-child(even) {background-color: #f2f2f2}

/******** Footer ********/
footer {
    padding: 20px 50px;
    color: #dcdcdc;
    background-color: #333;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
}