/*************************************
*  Custom Boostrap Styles
*************************************/
.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  background: #f5f5f5;
}

.navbar-default .navbar-brand {
  color: #2c3e50;
  font-size: 3em;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color: #2c3e50;
}

.navbar-default .navbar-brand span {
  color: #33cc99;
}

.navbar-default .navbar-nav > li > a:link, .navbar-default .navbar-nav > li > a:visited {
  color: #2c3e50;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #33cc99;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills > li.active > a {
  background: #33cc99;
  color: #f5f5f5;
}

/*************************************
*  General Page Styles
*************************************/
html {
  position: relative;
  min-height: 100%;
}

body {
  background: #f5f5f5;
  color: #2c3e50;
  margin-bottom: 100px;
}

.banner {
  padding-top: 50px;
  position: relative;
  min-height: 300px;
  box-shadow: inset 0px 11px 20px -10px #111, inset 0px -11px 20px -10px #111; 
  color: #f5f5f5;
  text-align: center;
}

.banner h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 3em;
}

.description {
  letter-spacing: 0.1em;
  font-size: 1.3em;
  padding-bottom: 50px;
}

.photo-credit {
  color: rgba(255, 255, 255, 0.5);
  font-size: .8em;
  font-style: italic;
  margin: 0;
  position: absolute;
  right: 4px;
  bottom: 2px;
}

.main-content {
  padding-top: 25px;
  padding-bottom: 25px;
}

footer {
  padding: 30px 50px;
  color: #99979c;
  background-color: #2a2730;
  overflow: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p {
  margin: 0;
  padding: 0;
}

footer a {
  margin: 0;
  padding: 0;

}
/************************************
*  About Page Styles
*************************************/
#about-background {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/about.jpg') no-repeat center center;
  background-size: cover;
  min-height: 90vh;
  box-shadow: inset 0px 11px 20px -10px #111; 
  padding-bottom: 20px;
}

#about-container {
  text-align: center;
  color: #f5f5f5;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

#about-container h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 4em;
}

#about-container h3 {
  padding-top: 0;
}

#about-container p {
  padding: 10px 0;
}
/*************************************
*  Contact Page Styles
*************************************/
#contact-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/contact.jpg') no-repeat center center;
  background-size: cover;
}

#contact-us h3 {
  margin: 0;
}

#contact-us ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#contact-us li {
  margin: 10px 0;
}

/*************************************
*  Index Page Styles
*************************************/
#home-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/home.jpg') no-repeat center center;
  background-size: cover;
}

.charts a {
  text-decoration: none;
  color: #2c3e50;
}

.chart-wrapper {
  text-align: center;
}

.chart-description {
  min-width: 130px;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
}

.chart-container {
  display: inline-block;
}

/*************************************
*  Administrator Page Styles
*************************************/
#signinbtn{
  background-color: #33cc99;
  border:none;
}
#admin-modal-label{
  color:#2c3e50;
}

#admin-table {
  margin-top: 100px;
  font-size:20px;
}
#admin-table span{
   color: #33cc99;
}
.onoffswitch {
    position: relative; width: 55px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    background-color: #9E9E9E;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 20px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 33px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #33CC99;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #33CC99;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}
